@import '~typeface-poppins/index.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#ffffff, #ffd7b5, #ffb38a);
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;

}

.input {
  padding: 15px;
  width: 70%;
  margin: auto;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: rgba(211, 211, 211, 0.4);
  border: 1px solid #2D5987;
  border-radius: 10px;
  color: #2D5987;
  font-weight: bold;
  text-align: center;
}

.infoButton {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #2D5987;
  margin-bottom: 35px;
}


.infoDivExpanded {
  background-color: rgba(45, 89, 135, 0.7);
  width: 500px;
  height: 200px;
  margin-bottom: 35px;
  padding: 30px 10px 30px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  border: none;
}

.collapseButton {
  
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.input::placeholder {
  color: #2D5987;
}

.input:focus::placeholder {
  color: transparent;
}

.input:focus {
  outline: none;
}

.duplicateCity,
.errorCity {
  font-size: 25px;
  margin-top: -30px;
  font-weight: bold;
  color: #2D5987
}

.weatherDiv {
  background-color: rgba(45, 89, 135, 0.7);
  min-width: 350px;
  min-height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  position: relative;


}

.city {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  left: 10px;
  top: 30px;
  color: white;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.city.expandedCity {
  font-size: 35px;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 600px;

}

.temperature {
  font-size: 60px;
  position: absolute;
  right: 10px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.temperature.expandedTemp {
  font-size: 66px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  top: 65px;
  color: white;
}


.weatherSec {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  padding: 0;
  left: 10px;
  width: 100%;
  color: #2D5987;
  text-transform: capitalize;
}

.weatherSec.expandedWeatherSec {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  top: 100px;
  font-size: 15px;
}




.weatherContainer {
  margin-top: 20px;
}

.conditions {
  display: inline-block;
  margin-top: 15px;
}

.weatherIcon {
  width: 60px;
  height: 60px;
  vertical-align: middle;


}



.expandedDiv {
  width: 1000px;
  height: 780px;
  display: flex;
  position: relative;

}


.gridWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 100px);
  width: 85%;
  justify-content: center;
  margin: 0 auto;
  grid-gap: 10px;
  overflow: hidden;
}

.map-container {
  border-radius: 10px;
  overflow: hidden;
  grid-column: span 2;
  grid-row: span 3;
  background-color: #15719f;
}

.forecast {
  grid-column: span 6;
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  height: 100px;
  background-color: #15719f;
  border-radius: 10px;
  padding-left: 15px;
  white-space: nowrap;
  grid-auto-flow: column;
}


.forecast::-webkit-scrollbar,
.dailyForecast::-webkit-scrollbar {
  display: none;
}


.forecastDiv {
  height: 100px;
}

.forecastDate {
  margin-top: 5px;
  font-size: 15px;
}

.forecastTemp {
  font-size: 20px;
  margin-top: -7px;
  text-align: center;
}

.forecastIcon {
  margin-top: -5px;
  width: 55px;
  height: 55px;

}

.dailyForecast {
  grid-column: span 2;
  grid-row: span 4;
  max-height: 100%;
  overflow: auto
}

.dailyForecastDiv {
  display: flex;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: relative;

}


.bar {
  background-color: #2D5987;
  width: 90%;
  height: .5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);


}

.lastItem .bar {
  display: none;
}

.weatherSec.expandedWeatherSec .dailyDate {
  text-align: left;
  margin-left: 15px;
  font-weight: bold;
  font-size: 17px;
}


.weatherSec.expandedWeatherSec .dailyIcon {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  text-align: left;
}

.dailyTemps p {
  display: inline-block;
  margin-right: 20px;
  font-size: 17px;
  text-align: left;
}

.max {
  font-weight: bold;
}

.wind {

  flex-direction: column;
  justify-content: center;
  grid-column: span 2;
}

.windGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  text-align: center;
  margin-top: 15px;
}

.windSpeed,
.windDir {
  width: 100%;
  font-size: 30px;
}

.windSpeed {
  grid-column: span 1;
  font-size: 30px;
  border-right: 2px solid #2D5987;

}

.smallNum {
  font-size: 20px;
}

.windDir {
  grid-column: span 1;
}


.arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-top: 10px solid #2D5987;
  border-right: 10px solid #2D5987;
  margin-right: 22px;


}



.sunTime {
  margin-top: 15px;
}

.sunTimeVal {
  font-size: 20px;
}


.sunIcon {
  width: 38px;
  height: 38px;
}

.airQuality {
  grid-column: span 2;
}


.numval {
  font-size: 30px;
  margin-top: 13px;
}

.wind,
.sunrise,
.sunset,
.humidity,
.pressure,
.airQuality,
.feelsLike,
.visibility,
.forecast,
.map-container,
.dailyForecast {
  background-color: rgba(255, 215, 181, 0.85);
  border-radius: 10px;
}

.conditionMain {
  color: white;
  font-size: 18px;
}

.windTitle,
.sunriseTitle,
.sunsetTitle,
.humidityTitle,
.pressureTitle,
.airQualityTitle,
.feelsLikeTitle,
.visibilityTitle {
  margin-top: 5px;
  color: #2D5987;
  font-weight: bold;
}

.airQualSlider {
  width: 80%;
  height: 5px;
  background: linear-gradient(to right, #097969, #E4D00A, #FF5733);
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  margin: 20px;
  border-radius: 5px;
  margin-top: -10px;
}

.humidity .airQualSlider {
  width: 70%;
}

.airQualSlider::-webkit-slider-thumb {
  appearance: none;
  width: 9px;
  height: 9px;
  background-color: #2D5987;
  outline: 3px solid rgba(255, 215, 181, 0.85);
  border-radius: 50%;
}

.expandButton {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  right: 30px;
  border: none;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.delete {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 8px;
  top: 5px;
  border-radius: 50%;
  border: none;
  font-size: 15px;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.delete:hover,
.expandButton:hover {
  font-size: 25px;
  cursor: pointer;
}



@media screen and (max-width: 1000px) {


  .expandedDiv {
    width: 800px;
  }

  .gridWrapper {
    grid-template-columns: repeat(5, 1fr);
    overflow: scroll;

  }

  .forecast {
    grid-column: span 4;
    order: 1;
  }

  .feelsLike {
    order: 2;
  }

  .dailyForecast {
    grid-column: span 2;
    grid-row: span 3;
    order: 3;
  }

  .dailyTemps p {
    font-size: 15px;
    margin-right: 10px;

  }

  .humidity {
    order: 4;
  }

  .map-container {
    order: 5;
    grid-row: span 3;
    grid-column: span 2;
  }

  .airQuality {
    order: 6;
    grid-column: span 1;
  }

  .visibility {
    order: 7;
  }

  .wind {
    order: 8;
  }

  .sunrise {
    order: 9;
  }

  .sunset {
    order: 10;
  }

  .pressure {
    order: 11;
  }

  .sunIcon {
    width: 35px;
    height: 35px;
  }

  .airQualVal {
    font-size: 20px;
  }

  .airQualSlider {
    width: 70%;
  }

  .airQuality .airQualSlider {
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .expandedDiv {
    width: 600px;
  }

  .dailyTemps p {
    font-size: 15px;
    margin-right: 10px;

  }

  .gridWrapper {
    grid-template-columns: repeat(4, 1fr);
    overflow: scroll;

  }

  .forecast {
    grid-row: span 1;

    order: 1;
  }

  .dailyForecast {
    grid-row: span 2;
    grid-column: span 2;
    order: 2;
  }

  .map-container {
    grid-row: span 2;
    grid-column: span 2;
  }

  .wind {
    grid-column: span 1;
  }

  .windSpeed {
    border: none;
  }

  .windSpeedText {
    font-size: 20px;
  }

  .windSpeed .smallNum {
    font-size: 10px;
  }


  .windDir {
    margin-top: -10px;

  }

  .windDir .smallNum {
    font-size: 10px;
  }

  .windGrid {
    grid-template-columns: initial;
    margin-top: initial;
  }


  .windSpeedText {
    margin-top: 10px;
    margin-bottom: -10px;

  }

  .arrow {
    width: 20px;
    height: 20px;
    border-top: 5px solid #2D5987;
    border-right: 5px solid #2D5987;
    margin-right: 0px;
    margin-top: 20px;

  }

  .dir .smallNum{
   display: none;
  }

  .sunIcon {
    width: 30px;
    height: 30px;
  }


  .pressure .numval {
    font-size: 25px;
  }

  .pressure .numval .smallNum {
    font-size: 15px;
  }

  

}

@media screen and (max-width: 600px) {

  .expandedDiv {
    width: 500px
  }

  .airQualSlider {
    width: 60%;
  }

  .numval {
    font-size: 25px;
  }

  .smallNum {
    font-size: 17px;
  }



  .humidity .airQualSlider {
    width: 60%;
    margin-top: 20px;
  }

  .airQualVal {
    font-size: 20px;
  }




}

@media screen and (max-width: 500px) {


  .gridWrapper {
    grid-template-columns: repeat(2, 1fr);

  }

  .weatherDiv {
    min-width: 300px;
  }

  .expandedDiv {
    width: 370px;
    height: 1200px;
  }

  .forecast {
    grid-column: span 2;
  }

  .dailyForecast {
    grid-column: span 2;
  }

  .city.expandedCity {
    font-size: 25px;
    
    overflow: visible;
  }




}
